body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(41, 41, 41);
  color: rgb(233, 233, 233);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper video {
  aspect-ratio: 16 / 9;
  width: 100vw;
  height: auto;
  border-radius: 5px;
}